h1 {
    font-size: 3em;

}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    width: 80%;
}

.number {
    font-size: 1.5em;
}

.outer-container {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: center;
    border: dashed green;

}

.inner-container {
    display: flex;
    flex-direction: column;
    flex-basis: 1400px;
    justify-content: center;
    /*align-items: center;*/
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 40px 0 40px;
    border: dashed red;
}

.overzicht {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    /*align-items: center;*/
    gap: 20px;
    border: dashed blue;
    flex-shrink: 1;
    flex-grow: 0;
    text-align: center;
}


.soldTV {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 110, 11);
    border: solid 2px rgb(0, 110, 11);
    background: rgb(0, 110, 11, 0.1);
    border-radius: 5px;
}

.inStock {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(77, 111, 160);
    border: solid 2px rgb(77, 111, 160);
    background: rgb(77, 111, 160, 0.1);
    border-radius: 5px;
}

.salesToMake {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(238, 90, 20);
    border: solid 2px rgb(238, 90, 20);
    background: rgb(238, 90, 20, 0.1);
    border-radius: 5px;
}


.bestSoldTV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border: dashed 1px black;
    background: grey;
}